<?xml version="1.0" encoding="UTF-8"?>
<beans default-destroy-method="cleanUp" default-init-method="myInit"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<!-- Definition of base package mapped through annotation into bean class -->
	<context:component-scan base-package="org.ennva.spring_maven_tutorial"></context:component-scan>

	<bean class="org.ennva.spring_maven_tutorial.Triangle" id="triangle">
		<property name="type" value="Triangle"></property>
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>

	<bean class="org.ennva.spring_maven_tutorial.Circle" id="circle">
		<property name="type" value="Circle"></property>
		<property name="center" ref="center"></property>
	</bean>

	<bean class="org.ennva.spring_maven_tutorial.Point" id="pointA">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean class="org.ennva.spring_maven_tutorial.Point" id="pointB">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean class="org.ennva.spring_maven_tutorial.Point" id="pointC">
		<property name="x" value="${pointC.x}"></property>
		<property name="y" value="${pointC.y}"></property>
	</bean>

	<bean class="org.ennva.spring_maven_tutorial.Point" id="center">
		<property name="x" value="${center.x}"></property>
		<property name="y" value="${center.y}"></property>
	</bean>

	<!-- Bean PostProcessor -->
	<!-- <bean autowire="byName" -->
	<!-- class="org.ennva.spring_maven_tutorial.DisplayNameBeanPostProcessor" 
		/> -->

	<!-- BeanFactory PostProcessor -->
	<bean class="org.ennva.spring_maven_tutorial.BeanFactoryPPDemo" />

</beans>
