<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<bean id="emp1" class="org.ennva.spring_maven_tutorial.Employee" init-method="myInit" destroy-method="myDestroy">
		<property name="eid" value="101" />
		<property name="ename" value="pippo1" />
		<property name="eaddress" value="Via pippo 1" />
	</bean>
	
	<bean id="emp2" class="org.ennva.spring_maven_tutorial.Employee">
		<property name="eid" value="102" />
		<property name="ename" value="pippo2" />
		<property name="eaddress" value="Via pippo 2" />
	</bean>
	
	<bean class="org.ennva.spring_maven_tutorial.Triangle" id="triangle" init-method="myInit" destroy-method="myDestroy">
		<property name="type" value="Equilateral"></property>
	</bean>

</beans>
